{% extends "header.html" %}

{% block title %}{{title}}{% endblock title %}

{% block content %}
<h1>Enter URL</h1>


<form id="myForm" method="post" data-submit-url="{{ url_for('views.handle_form') }}">
    <div class="mb-3">
        <label for="url" class="form-label">URL</label>
        <input type="text" class="form-control" name="url">
    </div>
    <div class="mb-3 form-check">
        <input type="checkbox" id="getcheckbox" class="form-check-input" name="method" value="GET">
        <label class="form-check-label" for="getcheckbox">GET</label>
    </div>
    <div class="mb-3 form-check">
        <input type="checkbox" id="postcheckbox" class="form-check-input" name="method" value="POST">
        <label class="form-check-label" for="postcheckbox">POST</label>
    </div>
    <div class="mb-3" id="forData" style="display: none;">
        <label for="data" class="form-label" >Data</label>
        <textarea  id ="data" class="form-control" name="data"></textarea>
    </div>
    <input type="submit" class="btn btn-primary" value="submit">
</form>
<script>
    
</script>
<hr>
<div id="response"></div>
<script type="text/javascript" src="{{url_for('static', filename='index.js')}}"></script>

{% endblock content %}