{% extends "header.html" %}

{% block title %}{{title}}{% endblock title %}

{% block content %}
<h1>Enter URL</h1>


<form method="post">
    <div class="mb-3">
        <label for="url" class="form-label">URL</label>
        <input type="text" class="form-control" name="url">
    </div>
    <div class="mb-3 form-check">
        <input type="checkbox" id="getcheckbox" class="form-check-input" name="method" value="GET">
        <label class="form-check-label" for="getcheckbox">GET</label>
    </div>
    <div class="mb-3 form-check">
        <input type="checkbox" id="postcheckbox" class="form-check-input" name="method" value="POST">
        <label class="form-check-label" for="postcheckbox">POST</label>
    </div>
    <input type="submit" class="btn btn-primary" value="submit">
</form>

<hr>
{% if response %}

{{response}}
<hr>
{%endif%}

{% endblock content %}